body {
	
}

li {
	display: inline;
	margin: auto;
}

nav ul {
	margin:	0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 10px;
}

header {
	text-align: center;
	margin: auto;
	background-image: url("http://cdn.playbuzz.com/cdn/80ec1405-b8eb-4c34-9173-e393896d8e8b/f88adce4-846c-4a90-a724-08306c9b692b.jpg");
}

h1{
	color: white;
}

header, footer, section, nav, aside {
	border: 2px solid gray;
	margin: 10px;
	padding: 10px;
}